@import '../_mixins/colours';
@import '../_mixins/breakpoints';
@import '../_mixins/styles';

.previewImage {
  position: relative;
  width: 100%;
  height: 100%;
  border: solid $border-width $dark-white;
  border-radius: $border-radius-md;
  overflow: hidden;

  transition: all 0.25s;

  &:hover {
    cursor: pointer;
    border-color: $accent;
    border-radius: $border-radius-lg;
  }
}