@import '../_mixins/colours';
@import '../_mixins/breakpoints';

.previewImage {
  box-sizing: border-box;
  position: relative;
  width: 30rem;
  height: 20rem;
  transform-origin: left center;
  transition: all 0.25s;

  img {
    transition: all 0.25s;
  }

  &:hover {
    cursor: pointer;
    border-width: 0.2rem;
    border-radius: 1rem;
    border-style: solid;
    border-color: $accent;

    img {
      border-radius: 0.85rem;
    }
  }
}