@import '../_mixins/colours';
@import '../_mixins/breakpoints';
@import '../_mixins/styles';
@import '../_mixins/shadows';

.preview {
  width: 100%;
  overflow: hidden;

  &__links {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

    @include mobile {
      flex-direction: column;
    }
  }
}

.carousel {
  position: absolute;
  top: 0;
  left: -5.15rem;
  width: 32rem;
  height: 20rem;
  border-radius: $border-radius-md;
  opacity: 0;
  z-index: 0;

  @include shadow();

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.descriptionContent {
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1rem 0 1.5rem;
}

.tag {
  border-radius: 9999px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0.5rem 0 0;
  background-color: $black;
  color: $white;
  cursor: default;

  @include mobile {
    font-size: 1.25rem;
  }
}

.title {
  margin: 0;
  font-size: 4rem;
  word-break: break-all;

  @include mobile {
    font-size: 5.5rem;
  }
}

.description {
  margin: 0 0 .5rem;
}

.note {
  font-size: 1rem;
  color: $grey;
  margin: 0 0 1.5rem;
}
