@import '../_mixins/colours';
@import '../_mixins/breakpoints';
@import '../_mixins/styles';
@import '../_mixins/shadows';

.now_playing {
  position: fixed;
  bottom: 1rem;
  left: 5rem;
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: $white;
  padding: 0.75rem;
  border: solid 0.2rem $black-secondary;
  border-radius: $border-radius-md;

  @include shadow();

  // If backdrop blur is supported, style accordingly.
  @supports (backdrop-filter: blur()) {
    backdrop-filter: blur(0.5rem);
    background-color: rgba($black, 0.75);
  }
  // Otherwise style with no opacity effects in mind.
  @supports not (backdrop-filter: blur()) {
    background-color: $black;
  }

  @include mobile {
    display: none;
  }

  &__header {
    display: flex;
    align-items: center;

    &_title {
      white-space: nowrap;
      margin: 0 2rem 0 0;
    }

    &_logo {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.5rem;
    }

    &_compact {
      font-size: 0.875rem;
      margin-left: auto;
      padding: 0.3rem 0.55rem;
      border-radius: 9999px;
      color: $white;
      background-color: transparent;
      border-color: transparent;
      border-width: 0.1rem;

      &:hover {
        border-color: $white;
      }
    }
  }

  &__song {
    display: flex;
    align-items: center;
    gap: 1rem;

    &_album {
      width: 5rem;
      height: 5rem;
      min-width: 5rem;
      max-height: 5rem;
      border-radius: $border-radius-sm;
      overflow: hidden;
    }

    &_details {
      &__name {
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        width: 13.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &__artist {
        font-size: .8rem;
        margin: 0 0 .15rem 0;
        max-width: 50vw;
        width: 13.25rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}