@import '../_mixins/colours';
@import '../_mixins/styles';
@import '../_mixins/shadows';
@import '../_mixins/breakpoints';

.contact {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
  color: $white;
  padding: 0.75rem;
  border: solid 0.2rem $black-secondary;
  border-radius: $border-radius-md;

  @include shadow();

  // If backdrop blur is supported, style accordingly.
  @supports (backdrop-filter: blur()) {
    backdrop-filter: blur(0.5rem);
    background-color: rgba($black, 0.75);
  }
  // Otherwise style with no opacity effects in mind.
  @supports not (backdrop-filter: blur()) {
    background-color: $black;
  }

  &__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.25s cubic-bezier(.68, -0.55, .27, 1.55);

      &:hover {
        color: $dark-white;
      }

      @include mobile {
        span {
          display: none;
        }
      }
    }

    svg {
      width: 1.25rem;
      height: 1.25rem;
      margin-right: 0.5rem;
    }
  }
}