@import '../_mixins/colours';
@import '../_mixins/styles';
@import '../_mixins/shadows';
@import '../_mixins/breakpoints';

.contact {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 50;
  color: $white;

  &__links {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 1rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.25s;
      font-size: unset;
      padding: 0.75rem;
      border: solid $border-width $black-secondary;
      border-radius: $border-radius-md;

      @include shadow();

      // If backdrop blur is supported, style accordingly.
      @supports (backdrop-filter: blur()) {
        backdrop-filter: blur(0.5rem);
        background-color: rgba($black, 0.75);
      }
      // Otherwise style with no opacity effects in mind.
      @supports not (backdrop-filter: blur()) {
        background-color: $black;
      }

      &:after {
        content: none;
      }

      &:hover {
        color: $accent;
      }

      @include mobile {
        span {
          font-size: 1.4rem;
        }
      }
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin-right: 0.75rem;

      @include mobile {
        width: 2.25rem;
        height: 2.25rem;
        margin-right: 0.75rem;
      }
    }
  }
}