@import '../_mixins/colours';
@import '../_mixins/breakpoints';
@import '../_mixins/styles';

.content {
  grid-column: 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  @include mobile {
    justify-content: center;
  }
}