@import "../_mixins/colours";
@import "../_mixins/breakpoints";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: clamp(65rem, 80%, 75rem);
  font-size: 1rem;

  @include tablet {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.25rem;
  }
}

.title {
  font-weight: bold;
  color: $grey;
  margin: 4rem 0 1rem;

  @include tablet {
    margin: 4rem 0 1.25rem;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.typescriptLogo {
  width: 2.5em;

  @include tablet {
    margin-right: 2rem;
    margin-bottom: 0.75rem;
  }
}

.htmlLogo {
  width: 2.25em;

  @include tablet {
    margin-right: 2rem;
    margin-bottom: 0.75rem;
  }
}

.cssLogo {
  width: 2.25em;

  @include tablet {
    margin-right: 2rem;
    margin-bottom: 0.75rem;
  }
}

.sassLogo {
  width: 3.75em;

  @include tablet {
    margin-right: 2rem;
    margin-bottom: 0.75rem;
  }
}

.nextLogo {
  width: 5.5em;

  @include tablet {
    margin-right: 0;
    margin-bottom: 0.75rem;
  }
}

.reactLogo {
  width: 3em;

  @include tablet {
    margin-right: 1rem;
    margin-bottom: 0.75rem;
  }
}

.reduxLogo {
  width: 3em;

  @include tablet {
    margin-right: 1rem;
    margin-bottom: 0.75rem;
  }
}

.angularLogo {
  width: 3em;

  @include tablet {
    margin-right: 1rem;
    margin-bottom: 0.75rem;
  }
}

.affinityLogo {
  width: 8em;

  @include tablet {
    margin-right: 2rem;
    margin-bottom: 0.75rem;
  }
}

.djangoLogo {
  width: 6em;

  @include tablet {
    margin-right: 1rem;
    margin-bottom: 0.75rem;
  }
}

.pythonLogo {
  width: 7em;

  @include tablet {
    margin-right: 0;
    margin-bottom: 0.75rem;
  }
}