@import "../_mixins/colours";
@import "../_mixins/breakpoints";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: clamp(65rem, 80%, 75rem);
  font-size: 1rem;

  @include tablet {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-size: 1.25rem;
  }
}

.title {
  font-weight: bold;
  color: $grey;
  margin: 4rem 0 1rem;

  @include tablet {
    margin: 4rem 0 1.25rem;
  }
}

@keyframes spin {
  from {
    rotate: 0deg;
  }

  to {
    rotate: 360deg;
  }
}

@mixin logo {
  position: relative;
  animation: spin 2s infinite linear;
  animation-play-state: paused;
  transition: all 0.25s linear;

  &:hover {
    z-index: 5;
    animation-play-state: running;

    &:before {
      width: 10rem;
      height: 10rem;
      border: solid 0.2rem $accent;
    }
  }

  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    width: 0;
    height: 0;
    border: solid 0.2rem transparent;
    border-radius: 9999px;
    pointer-events: none;
    transition: all 0.25s cubic-bezier(.68, -0.55, .27, 1.55);
  }
}

.typescriptLogo {
  @include logo;
  width: 2.5em;

  @include tablet {
    margin-right: 2rem;
    margin-bottom: 0.75rem;
  }
}

.htmlLogo {
  @include logo;
  width: 2.25em;

  @include tablet {
    margin-right: 2rem;
    margin-bottom: 0.75rem;
  }
}

.cssLogo {
  @include logo;
  width: 2.25em;

  @include tablet {
    margin-right: 2rem;
    margin-bottom: 0.75rem;
  }
}

.sassLogo {
  @include logo;
  width: 3.75em;

  @include tablet {
    margin-right: 2rem;
    margin-bottom: 0.75rem;
  }
}

.nextLogo {
  @include logo;
  width: 5.5em;

  @include tablet {
    margin-right: 0;
    margin-bottom: 0.75rem;
  }
}

.reactLogo {
  @include logo;
  width: 3em;

  @include tablet {
    margin-right: 1rem;
    margin-bottom: 0.75rem;
  }
}

.reduxLogo {
  @include logo;
  width: 3em;

  @include tablet {
    margin-right: 1rem;
    margin-bottom: 0.75rem;
  }
}

.angularLogo {
  @include logo;
  width: 3em;

  @include tablet {
    margin-right: 1rem;
    margin-bottom: 0.75rem;
  }
}

.affinityLogo {
  @include logo;
  width: 8em;

  @include tablet {
    margin-right: 2rem;
    margin-bottom: 0.75rem;
  }
}

.djangoLogo {
  @include logo;
  width: 6em;

  @include tablet {
    margin-right: 1rem;
    margin-bottom: 0.75rem;
  }
}

.pythonLogo {
  @include logo;
  width: 7em;

  @include tablet {
    margin-right: 0;
    margin-bottom: 0.75rem;
  }
}