@import '../_mixins/colours';
@import '../_mixins/breakpoints';

.background {
  position: relative;
  z-index: 25;
  width: calc(100% + 6rem);
  margin-left: -5rem;
  height: auto;
  padding: 0.5rem 0;
  background-color: $black;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &Light {
    background-color: $white;
  }
}

.headerText {
  position:absolute;
  left:-9999px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.text {
  display: inline-block;
  text-wrap: none;
  white-space: nowrap;
  font-size: 5rem;
  color: $white;
  margin-right: 1rem;

  &Light {
    color: $black;
  }
}