@import '../_mixins/colours';
@import '../_mixins/breakpoints';
@import '../_mixins/styles';
@import '../_mixins/shadows';

@keyframes slide {
  0% {
    transform: translate3d(-50%, 0, 0);
  }
  50% {
    transform: translate3d(0, -50%, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}

@keyframes slide_2 {
  0% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.secret_gradient {
  display: none;
  position: sticky;
  top: 1rem;
  width: 100%;
  height: calc(100vh - 6.25rem);
  margin: 1rem 1rem 1rem 0;
  background: linear-gradient(0deg, $accent 0%, rgba(146,44,244,1) 100%);
  border: solid $border-width $dark-white;
  border-radius: $border-radius-md;
  overflow: hidden;
  z-index: 30;

  @include shadow();

  @include gradient() {
    display: block;
  }

  &__body {
    position: absolute;
    width: max(50rem, 200%);
    height: 200%;
    background: radial-gradient(rgb(48, 52, 245) 0%, rgba($black, 0) 60% 100%) 385px -24px,
    radial-gradient(rgb(218,126,255) 0%, rgba($black, 0) 60% 100%) -940px 290px,
    radial-gradient(rgb(25, 185, 253) 0%, rgba($black, 0) 60% 100%) 940px -290px,
    radial-gradient(rgba(173, 27, 246, 1) 0%, rgba($black, 0) 60% 100%) -120px 250px,
    radial-gradient(rgb(122, 0, 255) 0%, rgba($black, 0) 60% 100%) 300px -250px,
    radial-gradient(rgb(221, 0, 255) 0%, rgba($black, 0) 60% 100%) 122px -122px,
    radial-gradient(rgb(0, 125, 255) 0%, rgba($black, 0) 60% 100%) 702px 122px;
    opacity: 0.8;
    animation: slide 30s ease infinite;
  }

  &__body_2 {
    position: absolute;
    width: max(50rem, 200%);
    height: 200%;
    background: radial-gradient(rgb(0, 119, 255) 0%, rgba($black, 0) 60% 100%) 585px -164px,
    radial-gradient(rgb(123,0,255) 0%, rgba($black, 0) 60% 100%) -940px 290px,
    radial-gradient(rgb(208, 0, 255) 0%, rgba($black, 0) 60% 100%) 940px -290px,
    radial-gradient(rgb(172,0,255) 0%, rgba($black, 0) 60% 100%) -120px 250px,
    radial-gradient(rgb(0, 217, 255) 0%, rgba($black, 0) 60% 100%) 300px -250px,
    radial-gradient(rgb(221, 0, 255) 0%, rgba($black, 0) 60% 100%) 122px -122px,
    radial-gradient(rgb(132, 0, 255) 0%, rgba($black, 0) 60% 100%) 702px 122px;
    opacity: 0.8;
    animation: slide_2 30s ease infinite;
  }
}